body {
  overflow: hidden;
}




h2 {
  margin: 0;
  padding: 0;
}


.skills-section {
  background-color: #474E68;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
  overflow: auto; /* This will allow the content to scroll within the container */
}

.title {
  background-color: #474E68;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.logo {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

span {
  margin-bottom: 20px;
  font-size: 2rem;
}
