.main-header {
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
    background-color: #404258;
     color: black;
}

.about {
margin: 5px;
color: black
}

.skills {
margin: 5px;
color: black
}

.contact {
margin: 5px;
color: black
}